In [76]:
import pandas as pd
import seaborn as sns

In [77]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [78]:
from sklearn.datasets import load_diabetes

In [81]:
df=load_diabetes()

In [83]:
df_dep=pd.DataFrame(df['data'],columns=df['feature_names'])
df_indep=pd.DataFrame(df['target'],columns=['target'])

In [85]:
final_df=pd.concat([df_dep,df_indep],axis=1)

In [86]:
final_df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [87]:
final_df.to_csv('diabetes.csv',index=False)

In [88]:
pd.read_csv('diabetes.csv')

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [89]:
import pyspark

In [116]:
from pyspark.sql import SparkSession

In [117]:
session=SparkSession.builder.appName('ny_app').getOrCreate()

In [118]:
spark_df=session.read.csv('diabetes.csv',header=True,inferSchema=True)

In [119]:
spark_df.show(5)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+
|                 age|                 sex|                 bmi|                  bp|                  s1|                  s2|                  s3|                  s4|                  s5|                  s6|target|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+
|0.038075906433423026| 0.05068011873981862|0.061696206518683294|  0.0218723855140367|-0.04422349842444599|-0.03482076283769895|-0.04340084565202491|-0.00259226199818...|0.019907486170462722|-0.01764612515980379| 151.0|
|-0.00188201652779...|-0.04464163650698...|-0.05147406123880...|-0.02632752814785296|-0.00844872411121...|-0.01916333974822...| 0.07441156407875721|-0.03949338287409329| -0.0683315470939731|  -0.092204049626824|  75.0|
| 0.08529890629667548| 0.05068011873981862| 0.04445121333659049|-0.00567042229275739|-0.04559945128264711|-0.03419446591411989|-0.03235593223976409|-0.00259226199818...|0.002861309289833047|-0.02593033898947...| 141.0|
| -0.0890629393522567|-0.04464163650698...|-0.01159501450521...|-0.03665608107540074| 0.01219056876179996| 0.02499059336410222|-0.03603757004385...| 0.03430885887772673|0.022687744966501246|-0.00936191133013...| 206.0|
|0.005383060374248237|-0.04464163650698...|-0.03638469220446948|  0.0218723855140367|0.003934851612593237|0.015596139510416171|0.008142083605192267|-0.00259226199818...|-0.03198763948805312|-0.04664087356364498| 135.0|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+
only showing top 5 rows

In [120]:
spark_df.select(['target',"bmi"]).show(5)

+------+--------------------+
|target|                 bmi|
+------+--------------------+
| 151.0|0.061696206518683294|
|  75.0|-0.05147406123880...|
| 141.0| 0.04445121333659049|
| 206.0|-0.01159501450521...|
| 135.0|-0.03638469220446948|
+------+--------------------+
only showing top 5 rows

In [121]:
session

In [122]:
spark_df.printSchema()

root
 |-- age: double (nullable = true)
 |-- sex: double (nullable = true)
 |-- bmi: double (nullable = true)
 |-- bp: double (nullable = true)
 |-- s1: double (nullable = true)
 |-- s2: double (nullable = true)
 |-- s3: double (nullable = true)
 |-- s4: double (nullable = true)
 |-- s5: double (nullable = true)
 |-- s6: double (nullable = true)
 |-- target: double (nullable = true)

In [123]:
spark_df=spark_df.withColumn("New_sex",spark_df["sex"]*1000)

In [124]:
spark_df.show(5)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+-------------------+
|                 age|                 sex|                 bmi|                  bp|                  s1|                  s2|                  s3|                  s4|                  s5|                  s6|target|            New_sex|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+-------------------+
|0.038075906433423026| 0.05068011873981862|0.061696206518683294|  0.0218723855140367|-0.04422349842444599|-0.03482076283769895|-0.04340084565202491|-0.00259226199818...|0.019907486170462722|-0.01764612515980379| 151.0|  50.68011873981862|
|-0.00188201652779...|-0.04464163650698...|-0.05147406123880...|-0.02632752814785296|-0.00844872411121...|-0.01916333974822...| 0.07441156407875721|-0.03949338287409329| -0.0683315470939731|  -0.092204049626824|  75.0|-44.641636506989144|
| 0.08529890629667548| 0.05068011873981862| 0.04445121333659049|-0.00567042229275739|-0.04559945128264711|-0.03419446591411989|-0.03235593223976409|-0.00259226199818...|0.002861309289833047|-0.02593033898947...| 141.0|  50.68011873981862|
| -0.0890629393522567|-0.04464163650698...|-0.01159501450521...|-0.03665608107540074| 0.01219056876179996| 0.02499059336410222|-0.03603757004385...| 0.03430885887772673|0.022687744966501246|-0.00936191133013...| 206.0|-44.641636506989144|
|0.005383060374248237|-0.04464163650698...|-0.03638469220446948|  0.0218723855140367|0.003934851612593237|0.015596139510416171|0.008142083605192267|-0.00259226199818...|-0.03198763948805312|-0.04664087356364498| 135.0|-44.641636506989144|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+-------------------+
only showing top 5 rows

In [125]:
spark_df.drop("New_sex").show(5)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+
|                 age|                 sex|                 bmi|                  bp|                  s1|                  s2|                  s3|                  s4|                  s5|                  s6|target|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+
|0.038075906433423026| 0.05068011873981862|0.061696206518683294|  0.0218723855140367|-0.04422349842444599|-0.03482076283769895|-0.04340084565202491|-0.00259226199818...|0.019907486170462722|-0.01764612515980379| 151.0|
|-0.00188201652779...|-0.04464163650698...|-0.05147406123880...|-0.02632752814785296|-0.00844872411121...|-0.01916333974822...| 0.07441156407875721|-0.03949338287409329| -0.0683315470939731|  -0.092204049626824|  75.0|
| 0.08529890629667548| 0.05068011873981862| 0.04445121333659049|-0.00567042229275739|-0.04559945128264711|-0.03419446591411989|-0.03235593223976409|-0.00259226199818...|0.002861309289833047|-0.02593033898947...| 141.0|
| -0.0890629393522567|-0.04464163650698...|-0.01159501450521...|-0.03665608107540074| 0.01219056876179996| 0.02499059336410222|-0.03603757004385...| 0.03430885887772673|0.022687744966501246|-0.00936191133013...| 206.0|
|0.005383060374248237|-0.04464163650698...|-0.03638469220446948|  0.0218723855140367|0.003934851612593237|0.015596139510416171|0.008142083605192267|-0.00259226199818...|-0.03198763948805312|-0.04664087356364498| 135.0|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+
only showing top 5 rows

In [127]:
spark_df=spark_df.na.fill(0)

In [130]:
spark_df.show(5)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+-------------------+
|                 age|                 sex|                 bmi|                  bp|                  s1|                  s2|                  s3|                  s4|                  s5|                  s6|target|            New_sex|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+-------------------+
|0.038075906433423026| 0.05068011873981862|0.061696206518683294|  0.0218723855140367|-0.04422349842444599|-0.03482076283769895|-0.04340084565202491|-0.00259226199818...|0.019907486170462722|-0.01764612515980379| 151.0|  50.68011873981862|
|-0.00188201652779...|-0.04464163650698...|-0.05147406123880...|-0.02632752814785296|-0.00844872411121...|-0.01916333974822...| 0.07441156407875721|-0.03949338287409329| -0.0683315470939731|  -0.092204049626824|  75.0|-44.641636506989144|
| 0.08529890629667548| 0.05068011873981862| 0.04445121333659049|-0.00567042229275739|-0.04559945128264711|-0.03419446591411989|-0.03235593223976409|-0.00259226199818...|0.002861309289833047|-0.02593033898947...| 141.0|  50.68011873981862|
| -0.0890629393522567|-0.04464163650698...|-0.01159501450521...|-0.03665608107540074| 0.01219056876179996| 0.02499059336410222|-0.03603757004385...| 0.03430885887772673|0.022687744966501246|-0.00936191133013...| 206.0|-44.641636506989144|
|0.005383060374248237|-0.04464163650698...|-0.03638469220446948|  0.0218723855140367|0.003934851612593237|0.015596139510416171|0.008142083605192267|-0.00259226199818...|-0.03198763948805312|-0.04664087356364498| 135.0|-44.641636506989144|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+-------------------+
only showing top 5 rows

In [138]:
spark_df.groupBy("sex").avg().show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
|                 sex|            avg(age)|            avg(sex)|            avg(bmi)|             avg(bp)|             avg(s1)|             avg(s2)|             avg(s3)|             avg(s4)|             avg(s5)|             avg(s6)|       avg(target)|      avg(New_sex)|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
|-0.04464163650698...|-0.00775590849114...|-0.04464163650698917|-0.00393566912912...|-0.01075910253935...|-0.00157481493875...|-0.00636756058084...|0.016923181431535803|-0.01482616126389...|-0.00669250167197...|-0.00929140738264...| 149.0212765957447|-44.64163650698905|
| 0.05068011873981862|0.008805016886078121|0.050680118739818474| 0.00446803017074189|0.012214440080915205|0.001787833384578...|0.007228873123179838|-0.01921230742227...|0.016831632352730577|0.007597767598624013|0.010548216110736064|155.66666666666666|50.680118739818475|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+

In [132]:
from pyspark.ml.feature import Imputer

In [133]:
Imputer(inputCols=['age','bmi'],outputCols=['age_imp','bmi_imp']).setStrategy("mean").fit(spark_df).transform(spark_df).show(5)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+-------------------+--------------------+--------------------+
|                 age|                 sex|                 bmi|                  bp|                  s1|                  s2|                  s3|                  s4|                  s5|                  s6|target|            New_sex|             age_imp|             bmi_imp|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+-------------------+--------------------+--------------------+
|0.038075906433423026| 0.05068011873981862|0.061696206518683294|  0.0218723855140367|-0.04422349842444599|-0.03482076283769895|-0.04340084565202491|-0.00259226199818...|0.019907486170462722|-0.01764612515980379| 151.0|  50.68011873981862|0.038075906433423026|0.061696206518683294|
|-0.00188201652779...|-0.04464163650698...|-0.05147406123880...|-0.02632752814785296|-0.00844872411121...|-0.01916333974822...| 0.07441156407875721|-0.03949338287409329| -0.0683315470939731|  -0.092204049626824|  75.0|-44.641636506989144|-0.00188201652779...|-0.05147406123880...|
| 0.08529890629667548| 0.05068011873981862| 0.04445121333659049|-0.00567042229275739|-0.04559945128264711|-0.03419446591411989|-0.03235593223976409|-0.00259226199818...|0.002861309289833047|-0.02593033898947...| 141.0|  50.68011873981862| 0.08529890629667548| 0.04445121333659049|
| -0.0890629393522567|-0.04464163650698...|-0.01159501450521...|-0.03665608107540074| 0.01219056876179996| 0.02499059336410222|-0.03603757004385...| 0.03430885887772673|0.022687744966501246|-0.00936191133013...| 206.0|-44.641636506989144| -0.0890629393522567|-0.01159501450521...|
|0.005383060374248237|-0.04464163650698...|-0.03638469220446948|  0.0218723855140367|0.003934851612593237|0.015596139510416171|0.008142083605192267|-0.00259226199818...|-0.03198763948805312|-0.04664087356364498| 135.0|-44.641636506989144|0.005383060374248237|-0.03638469220446948|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------+-------------------+--------------------+--------------------+
only showing top 5 rows

In [136]:
spark_df.filter((spark_df["age"]>30) & (spark_df["age"]>45)).show(5)

+---+---+---+---+---+---+---+---+---+---+------+-------+
|age|sex|bmi| bp| s1| s2| s3| s4| s5| s6|target|New_sex|
+---+---+---+---+---+---+---+---+---+---+------+-------+
+---+---+---+---+---+---+---+---+---+---+------+-------+

In [140]:
df=sns.load_dataset("tips")

In [141]:
df.to_csv("tips.csv",index=False)

In [142]:
session=SparkSession.builder.appName('tips_app').getOrCreate()

In [143]:
session

In [144]:
tips_spark_Df=session.read.csv("tips.csv",header=True,inferSchema=True)

In [147]:
tips_spark_Df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [148]:
tips_spark_Df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [150]:
tips_spark_Df.toPandas()

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [152]:
from pyspark.ml.feature import StringIndexer

In [155]:
tips_spark_Df=StringIndexer(inputCols=["sex","smoker","time"],outputCols=["sex_index","smoker_index","time_index"]).fit(tips_spark_Df).transform(tips_spark_Df)

In [157]:
tips_spark_Df.show(5)

+----------+----+------+------+---+------+----+---------+------------+----------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_index|smoker_index|time_index|
+----------+----+------+------+---+------+----+---------+------------+----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|      1.0|         0.0|       0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|      0.0|         0.0|       0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|      0.0|         0.0|       0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|      0.0|         0.0|       0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|      1.0|         0.0|       0.0|
+----------+----+------+------+---+------+----+---------+------------+----------+
only showing top 5 rows

In [158]:
from pyspark.ml.feature import VectorAssembler

In [160]:
tips_spark_Df=VectorAssembler(inputCols=["tip","sex_index","smoker_index","time_index"],outputCol="indepenedent_features").transform(tips_spark_Df)

In [162]:
tips_spark_Df.show(5)

+----------+----+------+------+---+------+----+---------+------------+----------+---------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_index|smoker_index|time_index|indepenedent_features|
+----------+----+------+------+---+------+----+---------+------------+----------+---------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|      1.0|         0.0|       0.0|   [1.01,1.0,0.0,0.0]|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|      0.0|         0.0|       0.0|       (4,[0],[1.66])|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|      0.0|         0.0|       0.0|        (4,[0],[3.5])|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|      0.0|         0.0|       0.0|       (4,[0],[3.31])|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|      1.0|         0.0|       0.0|   [3.61,1.0,0.0,0.0]|
+----------+----+------+------+---+------+----+---------+------------+----------+---------------------+
only showing top 5 rows

In [164]:
tips_spark_Df=tips_spark_Df.select(["indepenedent_features","total_bill"])

In [166]:
tips_spark_Df.show(5)

+---------------------+----------+
|indepenedent_features|total_bill|
+---------------------+----------+
|   [1.01,1.0,0.0,0.0]|     16.99|
|       (4,[0],[1.66])|     10.34|
|        (4,[0],[3.5])|     21.01|
|       (4,[0],[3.31])|     23.68|
|   [3.61,1.0,0.0,0.0]|     24.59|
+---------------------+----------+
only showing top 5 rows

In [167]:
from pyspark.ml.regression import LinearRegression

In [168]:
train_data,test_data=tips_spark_Df.randomSplit([0.7,0.3])

In [175]:
reg=LinearRegression(featuresCol="indepenedent_features",labelCol="total_bill").fit(train_data)

In [177]:
reg.coefficients

DenseVector([4.2209, -0.7805, 1.6536, -1.9733])

In [178]:
reg.intercept

7.539580006737748

In [183]:
preds=reg.evaluate(test_data)

In [185]:
preds.predictions.show(5)

+---------------------+----------+------------------+
|indepenedent_features|total_bill|        prediction|
+---------------------+----------+------------------+
|       (4,[0],[1.25])|     10.51|12.815758280876288|
|       (4,[0],[1.47])|     10.77| 13.74436565712467|
|       (4,[0],[1.57])|     15.42|14.166459919055754|
|       (4,[0],[1.71])|     10.27|14.757391885759269|
|       (4,[0],[1.75])|     17.82|14.926229590531701|
+---------------------+----------+------------------+
only showing top 5 rows

In [186]:
preds.r2

0.5099841481646072

In [187]:
preds.meanSquaredError

39.198313185088374

In [188]:
preds.meanAbsoluteError

4.620802840018931